<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.TgClusterNodeMapper">

    <resultMap type="TgClusterNode" id="TgClusterNodeResult">
        <result property="nodeId"             column="node_id"              />
        <result property="publicIp"           column="public_ip"            />
        <result property="privateIp"          column="private_ip"           />
        <result property="totalAccountCount"  column="total_account_count"  />
        <result property="onlineAccountCount" column="online_account_count" />
        <result property="nodeDir"            column="node_dir"             />
        <result property="nodePort"           column="node_port"            />
        <result property="nodeStatus"         column="node_status"          />
        <result property="lastActiveTime"     column="last_active_time"     />
        <result property="maxAccountCount"    column="max_account_count"    />
        <result property="createTime"         column="create_time"          />
        <result property="updateTime"         column="update_time"          />
    </resultMap>

    <sql id="selectTgClusterNodeVo">
        select node_id, public_ip, private_ip, total_account_count, online_account_count,
               node_dir, node_port, node_status, last_active_time, max_account_count, create_time, update_time
        from tg_cluster_node
    </sql>

    <select id="selectTgClusterNodeList" parameterType="TgClusterNode" resultMap="TgClusterNodeResult">
        <include refid="selectTgClusterNodeVo"/>
        <where>
            <if test="nodeId != null and nodeId != ''">
                AND node_id = #{nodeId}
            </if>
            <if test="publicIp != null and publicIp != ''">
                AND public_ip like concat('%', #{publicIp}, '%')
            </if>
        </where>
        order by last_active_time desc
    </select>

    <select id="selectTgClusterNodeById" parameterType="String" resultMap="TgClusterNodeResult">
        <include refid="selectTgClusterNodeVo"/>
        where node_id = #{nodeId}
    </select>

    <select id="selectActiveNodes" resultMap="TgClusterNodeResult">
        <include refid="selectTgClusterNodeVo"/>
        where last_active_time >= DATE_SUB(NOW(), INTERVAL #{minutes} MINUTE)
          and (node_status = '1' or node_status is null)
        order by online_account_count asc
    </select>

    <update id="updateTgClusterNode" parameterType="TgClusterNode">
        update tg_cluster_node
        <trim prefix="SET" suffixOverrides=",">
            <if test="maxAccountCount != null">max_account_count = #{maxAccountCount},</if>
            <if test="nodeStatus != null and nodeStatus != ''">node_status = #{nodeStatus},</if>
            update_time = now(),
        </trim>
        where node_id = #{nodeId}
    </update>

</mapper>
