<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.TgContactImportFilteredMapper">

    <resultMap type="com.ruoyi.system.domain.TgContactImportFiltered" id="TgContactImportFilteredResult">
        <result property="id"          column="id"          />
        <result property="batchNo"     column="batch_no"    />
        <result property="phone"       column="phone"       />
        <result property="filterType"  column="filter_type" />
        <result property="createTime"  column="create_time" />
    </resultMap>

    <select id="selectByBatchNo" resultMap="TgContactImportFilteredResult">
        select id, batch_no, phone, filter_type, create_time
        from tg_contact_import_filtered
        where batch_no = #{batchNo}
        <if test="filterType != null and filterType != ''">
            and filter_type = #{filterType}
        </if>
        order by id asc
    </select>

    <insert id="batchInsert" parameterType="java.util.List">
        insert into tg_contact_import_filtered (batch_no, phone, filter_type, create_time) values
        <foreach item="item" collection="list" separator=",">
            (#{item.batchNo}, #{item.phone}, #{item.filterType}, now())
        </foreach>
    </insert>

    <delete id="deleteByBatchNo" parameterType="String">
        delete from tg_contact_import_filtered where batch_no = #{batchNo}
    </delete>

</mapper>
